0_Ejercicios_PHP_Ciclo_Superior_DAW/EXAMENES/MAYO/2022_MAYO_MI_EXAMEN/Cuestion2/servicio.wsdl

<?xml version="1.0" encoding="UTF-8" ?>

<!-- doy nombre al servicio y al espacio de nombres -->
<definitions name="EjemploServicio" targetNamespace="urn:Ejemplo" 
    xmlns:tns="urn:Ejemplo" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    
    <!-- message define los posibles formatos de entrada y salida de las funciones -->
    <message name="EjemploPeticion2">
        <part name="email" type="xsd:string" />
    </message>
    <message name="EjemploRespuesta2">
        <part name="respuesta" type="xsd:string" />
    </message>
    <message name="EjemploArray">
        <part name="nombre" type="xsd:string[]"/>
    </message>

    <!-- portType definir cuales son las funciones que va a publicar el servicio -->
    <!-- se define su entrada y salida con message declarados anteriormente-->
    <portType name="EjemploPort">

        <operation name="devuelveNombre">
            <input message="tns:EjemploPeticion2" />
            <output message="tns:EjemploRespuesta2" />
        </operation>
        <operation name="devuelveMascotas">
            <input message="tns:EjemploPeticion2" />
            <output message="tns:EjemploArray" />
        </operation>

    </portType>

    <!-- binding es el enlace hace que en el servicio y por el espacio de nombre vamos a enlazar las funciones con el espacio de nombres -->
    <binding name="EjemploBinding" type="tns:EjemploPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

        <!-- devuelveNombre nombre de la función en el servidor -->
        <operation name="devuelveNombre">
            <soap:operation soapAction="urn:servicio#devuelveNombre" />
            <input>
                <soap:body namespace="urn:servicio" 
                    use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:servicio" 
                    use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>

        <!-- devuelveMascotas nombre de la función en el servidor -->
        <operation name="devuelveMascotas">
            <soap:operation soapAction="urn:servicio#devuelveMascotas" />
            <input>
                <soap:body namespace="urn:servicio" 
                    use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:servicio" 
                    use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>


    </binding>

    <!-- service define el Servicio -->
    <service name="EjemploServicio">
        <port name="EjemploPort" binding="tns:EjemploBinding">
            <soap:address location="http://localhost/EXAMEN_SERVIDOR_IVAN_CALVO_SANZ/Cuestion2/servidor.php" />
        </port>
    </service>
</definitions>

